.appBar {
    background-color: black !important;
    margin: 0px;
}

.text {
    font-family: Axiforma-Regular !important;
    margin: 10px !important;
}

.iconStyle {
    color: white !important;
    margin: 5px !important;
}

@media screen and (max-width: 971px) {
    .appBar {
        display: none !important;
    }
}