.tableStyle {
    font-family: Axiforma-ExtraBold !important;
}

.tableImg {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    height: auto;
}

@media screen and (max-width: 970px) {
    .tableStyle {
        font-size: 15px !important;
        margin: 0px !important;
        line-height: 1.2 !important;
        width: auto !important;
    }
}