.floorHeading {
    font-size: 40px !important;
    font-family: Axiforma-ExtraBold;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    margin-bottom: -32px;
    color: black;
    padding: 0px;
}

.goButton {
    font-family: Axiforma-Regular;
    text-decoration: none !important;
    margin-bottom: -74px !important;
    font-weight: bolder !important;
}

.link {
    text-decoration: none !important;
}

.oneTypeVideos {
    margin-inline: 15px !important;
    margin-top: 15px !important;
}

@media screen and (min-width: 971px) {
    .oneTypeVideos {
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    .floorHeading {
        font-size: 25px !important;
    }

    .contentBox {
        margin-top: -20px !important;
    }
}

@media screen and (max-width: 970px) {
    .oneTypeVideos {
        padding-top: 42px !important;
    }

    .floorHeading {
        line-height: 1 !important;
        font-size: 30px !important;
        margin-bottom: -23px !important;
    }

    .goButton {
        margin-bottom: -60px !important;
    }

    .floorHeading>h3 {
        font-size: 25px !important;
        padding: 10px;
        margin-bottom: 15px !important;
        padding-left: 0px !important;
    }

    .contentBox {
        margin-bottom: 70px !important;
        margin-top: -16px !important;
    }
}

.loadButton {
    font-family: Axiforma-Regular;
    text-decoration: none !important;
    font-weight: bolder !important;
    align-self: center !important;
    border: 2px solid black !important;
    margin: 10px !important;
}

.loadButton:hover {
    background-color: black !important;
    color: white !important;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}